.button {
  display: inline-block;
  background-color: $bg-basic-green;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $base-color-white;
  text-decoration: none;
  min-width: 100%;
  min-height: 40px;
  padding: 10px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #8ec36d;
  }
}

.button--order {
  display: block;
  grid-column: span 2;
  margin-top: 18px;
}

.button--secondary {
  display: block;
  background-color: #f2f2f2;
  color: $base-color-text;

  &:hover,
  &:active {
    background-color: #ebebeb;
    color: $base-color-text;
  }
}
