.button {
  display: inline-block;
  background-color: $bg-basic-green;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $base-color-white;
  text-decoration: none;
  min-width: 100%;
  min-height: 40px;
  padding: 10px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #8ec36d;
  }
}

.button--order {
  grid-column: span 2;
}


.button-subscription {
  @media (min-width: $tablet-width) {
    min-width: 256px;
    height: 56px;
  }
}
