.catalog__content-wrapper {
  // padding: 0 20px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
}
