.catalog {
  margin-bottom: 74px;
}

// .catalog__content-wrapper {
//   // padding: 0 20px;
// }

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 142px 60px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {

    justify-content: flex-start;
    gap: 143px 80px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
  // border-bottom: solid 1px #ebebeb;
  padding-bottom: 41px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

.catalog__title::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #ebebeb;
  box-shadow: 100vw 0 0 0 #ebebeb;
  bottom: 0;
  right: 0;
  width: 100vw;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
