.contacts {
  position: relative;
}

.contacts__content-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    // padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 565px;
    background-color: $base-color-white;
    top: 95px;
    left: 110px;
    padding: 60px 80px;
  }
}

.contacts__invite {
  margin: 0;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  max-width: 163px;
  text-align: left;
}

.contacts__address {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  max-width: 157px;
  text-align: right;
}

.contacts__location {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
