.contacts {
  position: relative;
}

.contacts__content-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;


  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 565px;
    background-color: $base-color-white;
    top: 95px;
    left: 110px;
    padding: 60px 78px;
    z-index: 3;
  }
}

.contacts__invite {
  margin: 0;
  display: block;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  min-width: 140px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 200px;
  }
}

.contacts__address {
  margin: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  max-width: 157px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-details {
  display: block;
}

.contacts__location {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.contacts__location iframe {
  width: 100%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__location .map-image {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}
