.developer {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.developer__logo-text {
  font-size: 16px;
  line-height: 20px;
}

.developer__link {
  color: $base-color-text;
  text-decoration: none;
  display: block;
}
