.features {
  margin-bottom: 49px;
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.features__content-wrapper {
  width: 100%;
  // padding: 0 20px;

  @media (min-width: $tablet-width) {
    // padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0 110px;
  }
}

.features__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-black;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}


.features__list {
  list-style: none;
  margin: 0;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    padding-left: 0;
    gap: 27px 153px;

    counter-reset: features;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    justify-content: space-between;
  }
}

.features__item {
  min-height: 60px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-width: 230px;
    max-width: 270px;
    min-height: 280px;
    padding-top: 151px;
    align-items: flex-start;
    counter-increment: features;
  }
}

.features__item::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: counter(features);
    bottom: 0;
    right: 0;
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    z-index: -1;
  }
}

.features__description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.features__item--ingridients {
  position: relative;
}

.features__item--ingridients::before {
  position: absolute;
  content: "";
  min-width: 60px;
  min-height: 60px;
  background-color: $bg-basic-green;
  background-image: url("../../icons/stack.svg#features-ingridients-icon");
  left: -80px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    min-width: 80px;
    min-height: 80px;
    left: 0;
    top: 80px;
  }
}

.features__item--form {
  position: relative;
}

.features__item--form::before {
  position: absolute;
  content: "";
  min-width: 60px;
  min-height: 60px;
  background-color: $bg-basic-green;
  background-image: url("../../icons/stack.svg#features-form-icon");
  left: -80px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    min-width: 80px;
    min-height: 80px;
    left: 0;
    top: 80px;
  }
}

.features__item--diet {
  position: relative;
}

.features__item--diet::before {
  position: absolute;
  content: "";
  min-width: 60px;
  min-height: 60px;
  background-color: $bg-basic-green;
  background-image: url("../../icons/stack.svg#features-diet-icon");
  left: -80px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    min-width: 80px;
    min-height: 80px;
    left: 0;
    top: 80px;
  }
}

.features__item--results {
  position: relative;
}

.features__item--results::before {
  position: absolute;
  content: "";
  min-width: 60px;
  min-height: 60px;
  background-color: $bg-basic-green;
  background-image: url("../../icons/stack.svg#features-results-icon");
  left: -80px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    min-width: 80px;
    min-height: 80px;
    left: 0;
    top: 80px;
  }
}

// .features__item::marker {
//   content: counter(my-counter) ". ";
//   counter-increment: my-counter;
//   display: inline-;
//   width: 60px;
//   height: 60px;
//   background-color: green;
// }
