.hero {
  background-image:
    url("../../images/hero-bg-mobile@1x.jpg"),
    linear-gradient(to bottom, #63a63b 302px, transparent 122px);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left, #63a63b 50%, transparent 50%);
    background-image:
      image-set(
        url("../../images/hero-bg-desktop@1x.jpg") 1x,
        url("../../images/hero-bg-desktop@2x.jpg") 2x),
      linear-gradient(to left, #63a63b 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: auto 694px;
    background-position: 50vw top;
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    align-items: start;
    padding-top: 65px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 143px;
    min-height: 694px;
  }
}

.hero__title {
  margin: 0;
  font-family: "Oswald", sans-serif, "Arial";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $base-color-black;
    max-width: 500px;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 40px;
    order: -3;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: 81px;
  }
}

.hero__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $base-color-black;
    max-width: 500px;
    text-align: left;
    margin-left: 90px;
    margin-bottom: 50px;
    order: -2;
  }
}

.hero__image {
  display: block;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: auto;
    top: 266px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    margin: 0;
    top: 143px;
    left: 555px;
    z-index: 1;
  }
}

.hero__button {
  @media (min-width: $tablet-width) {
    min-width: 200px;
    max-width: 250px;
    margin-left: 90px;
    display: block;
    order: -1;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 26px;
  }
}
