.hero__content-wrapper {
  background-color: $bg-basic-green; //временно до вставки фона
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
