.main-header {
  position: relative;
  border-bottom: solid 1px #e6e6e6;
}

.main-header__content-wrapper {
  display: flex;
  padding: 13px 20px;
  align-items: center;
  justify-content: space-between;
}

.main-header__link {
  display: block;
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  right: 20px;
}

.main-header__toggle::before,
.main-header__toggle::after,
.main-header__toggle i {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $base-color-black;
  transition: transform 0.3s ease;
}

.main-header__toggle::before {
  top: 0;
  transform-origin: left center;
}

.main-header__toggle::after {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.main-header__toggle-iconline {
  top: 100%;
  transform: translateY(-100%);
  transform-origin: left center;
}
