.main-header {
  position: relative;
  border-bottom: solid 1px #e6e6e6;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header--index {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    z-index: 10;
  }
}

.main-header__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    justify-content: unset;
    padding-top: 25px;
    padding-bottom: 0;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 55px;
    padding-right: 110px;
  }
}

.main-header__link {
  display: block;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__toggle {
  display: block;
  width: 24px;
  height: 19px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  // right: 13px;
  padding: 4px 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::before,
.main-header__toggle::after,
.main-header__toggle i {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $base-color-black;
  transition: transform 0.3s ease;
  left: 0;
}

.main-header__toggle::before {
  top: -2px;
  transform-origin: left center;
}

.main-header__toggle::after {
  top: 6px;
  transform-origin: left center;
}

.main-header__toggle-iconline {
  top: 14px;
  transform-origin: left center;
}

.main-header__toggle:hover {
  opacity: 60%;
}

.main-header__toggle:active {
  opacity: 30%;
}

.main-header__toggle--opened {
  top: -4px;
}

.main-header__toggle--opened::before {
  transform: rotate(45deg);
  top: 50%;
  transform-origin: center;
}

.main-header__toggle--opened::after {
  transform: rotate(-45deg);
  top: 50%;
  transform-origin: center;
}

.main-header__toggle--opened i {
  opacity: 0;
}

.main-header__toggle--nojs {
  display: block;

  &::before {
    transform: rotate(45deg);
    top: 50%;
    transform-origin: center;
  }

  &::after {
    transform: rotate(-45deg);
    top: 50%;
    transform-origin: center;
  }
}

.main-header__toggle--nojs i {
  opacity: 0;
}

.main-header__link--image {
  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    // margin-right: 14px;
  }
}

.main-header__link--text {
  margin-right: 13px;

  @media (min-width: $mobile-width-only) {
    margin-right: 13px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: unset;
  }
}

.main-header__link--text-catalog {
  @media (max-width: $mobile-width-only) {
    padding-top: 5px;
  }
}
