.main-footer {
  background-color: #f2f2f2;
  margin: 0 auto;
  // width: 100%;
}

.main-footer__content-wrapper {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__link {
  display: block;
  align-self: center;
  width: 100%;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 20px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    width: 128px;
  }
}

.main-footer__logo-text {
  display: block;
  margin: 0 auto;
}

.main-footer__social {
  width: 100%;
  border-bottom: solid 1px #d9d9d9;
  padding: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    width: auto;
  }
}
