.main-navigation {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main-navigation__item {
  flex: 1;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 22px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  border-bottom: solid 1px #e6e6e6;
}

.main-navigation__link {
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-navigation--closed {
  display: none;
}

.main-navigation--open {
  display: block;
}

.main-navigation--nojs {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    position: unset;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: transparent;
    width: unset;
    margin-left: auto;
    max-width: 605px;
  }

  .main-navigation__list {
    display: flex;
    flex-flow: row wrap;
    gap: 34px;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
  }

  .main-navigation__item {
    display: flex;
    border-bottom: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    flex: 0;
    white-space: nowrap;
  }

  .main-navigation__link {
    position: relative;
  }

  .main-navigation__link[aria-current="page"]::before {
    position: absolute;
    content: "";
    width: 100%;
    right: 0;
    bottom: -10px;
    height: 2px;
    background-color: $bg-basic-green;
  }
}


@media (min-width: $desktop-width) {
  .main-navigation {
    z-index: 10;
    background-color: transparent;
    color: $base-color-white;

    max-width: 605px;
  }

  .main-navigation__item {
    font-size: 20px;
    line-height: 30px;
  }

  .main-header--index .main-navigation__link {
    color: $base-color-white;
  }

  .main-header--index .main-navigation__link[aria-current="page"]::before {
    background-color: $base-color-white;
  }
}
