.product-card {
  padding: 20px 20px 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 17px;
  position: relative;
  border-bottom: solid 1px #ebebeb;
}

.product-card__link {
  display: block;
}

.product-card__image {
  display: block;
  margin: auto;
}

.product-card__name {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-black;
  max-width: 90px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.product-card__attributes {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.product-card__attribute {
  display: flex;
  justify-content: space-between;
}
