.programs {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__card {
  background-color: #f2f2f2;
  padding: 30px 20px 18px;
  min-width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 50px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 77px 60px 58px 52px;
  }
}


.programs__card-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $base-color-black;
  text-align: left;
  margin-bottom: 29px;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.programs__card-description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px;
  position: relative;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 56%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 27px;
  }
}

.programs__card-link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-color-black;
  text-align: center;
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    min-height: 38px;
  }

  &:active {
    opacity: 30%;
  }
}

.programs__card-link::before {
  content: "";
  position: absolute;
  left: calc(100% + 17px);
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: $base-color-black;
  transition: width 0.5s ease;

  @media (min-width: $tablet-width) {
    left: calc(100% + 27px);
  }
}

.programs__card-link:hover::before {
  width: 26px;
}

.programs__card-link:active::before {
  opacity: 30%;
}

.programs__card-link::after {
  content: "";
  position: absolute;
  left: calc(100% + 17px + 18px);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $base-color-black;
  transition: transform 0.5s ease;

  @media (min-width: $tablet-width) {
    left: calc(100% + 27px + 18px);
  }
}

.programs__card-link:hover::after {
  transform: translate(8px, -50%);
}

.programs__card-link:active::after {
  opacity: 30%;
}


.programs__card--fit {
  position: relative;
}

.programs__card--fit::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#program-fit-icon");
  background-color: transparent;
  top: 21px;
  left: 26px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 48%;
    transform: translateY(-50%);
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 90px;
    left: 67px;
  }
}

.programs__card--fit::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-basic-green;
  top: 24px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 52%;
    transform: translateY(-50%);
    left: auto;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 97px;
    left: 52px;
  }
}

.programs__card--muscles::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#program-muscles-icon");
  background-color: transparent;
  top: 35px;
  left: 12px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 51%;
    transform: translateY(-50%);
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 95px;
    left: 31px;
  }
}

.programs__card--muscles::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-basic-green;
  top: 24px;
  left: 21px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 51%;
    transform: translateY(-50%);
    left: auto;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 98px;
    left: 52px;
  }
}
