.programs {
  margin-bottom: 20px;
}

.programs__content-wrapper {
  // padding: 0 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    // padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    // padding: 0 110px;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__card {
  background-color: #f2f2f2;
  padding: 30px 20px 18px;
  min-width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 50px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 77px 60px 55px 52px;
  }
}


.programs__card-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $base-color-black;
  text-align: center;
  margin-bottom: 29px;
  margin-left: 21px;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
  }
}

.programs__card-description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
  position: relative;
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 55%;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.programs__card-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-color-black;
  text-align: center;
  text-decoration: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__card-link::before {
  content: "";
  position: absolute;
  left: 122px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: $base-color-black;
}

.programs__card-link::after {
  content: "";
  position: absolute;
  left: 137px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $base-color-black;
}

.programs__card--fit {
  position: relative;
}

.programs__card--fit::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#program-fit-icon");
  background-color: transparent;
  top: 21px;
  left: 24px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 47%;
    transform: translateY(-50%);
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 73px;
    left: 67px;
  }
}

.programs__card--fit::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-basic-green;
  top: 24px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 77px;
    left: 52px;
  }
}

.programs__card--muscles::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#program-muscles-icon");
  background-color: transparent;
  top: 35px;
  left: 12px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 77px;
    left: 31px;
  }
}

.programs__card--muscles::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-basic-green;
  top: 24px;
  left: 21px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 77px;
    left: 52px;
  }
}
