// styles

.showcase-example {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;

  @media (min-width: $desktop-width) {
    // grid-column: 2 / 3;
    // grid-row: span 2;
    grid-area: span 2 / 2 / 2 / 3;
  }
}
