.showcase {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}

.showcase__content-wrapper {
  padding: 25px 20px 40px;
}

.showcase__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-black;
  margin: 0;
  margin-bottom: 40px;
}

.showcase__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.showcase__facts {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.showcase__fact {
  display: flex;
  flex-flow: column-reverse wrap;
  gap: 7px;
  justify-content: center;
  border-top: 1px #cdcdcd;
}

.showcase__fact-term {
  margin: 0;
  margin-top: -10px;
  transform: translateX(50%);
  width: 77px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: #eaeaea;
  z-index: 1;
}

.showcase__fact-description {
  margin: 0;
  padding: 15px 42px 17px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-black;
  text-align: center;
  text-transform: uppercase;
  border: solid #cdcdcd 1px;
  border-radius: 3%;
}

.showcase__expend {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-black;
  text-transform: uppercase;
  text-align: center;
}
