.slider__toggle {
  position: relative;
  background-image: url("../../icons/stack.svg#slider-toggle-icon");
  width: 40px;
  height: 40px;
  border: none;
}

// .slider__toggle-button::before {
//   content: "";
//   position: absolute;
//   background-image: url("../../icons/stack.svg#slider-toggle-icon");
//   width: 40px;
//   height: 40px;
// }
