.slider__toggle {
  width: 40px;
  height: 40px;
  mask-image: url("../../icons/stack.svg#slider-toggle-icon");
  background-color: transparent;
  // mask-size: cover;

  // mask-position: fit;
  // mask-repeat: no-repeat;
}

// :hover, :focus, :active
