.subscription__content-wrapper {
  margin: 0;
  padding: 40px 20px;
}

.subscription__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-black;
  position: relative;
}

.subscription__title::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.subscription__description {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
