.subscription {
  margin-bottom: 40px;
}

.subscription__content-wrapper {
  margin: 0;
}

.subscription__title {
  margin: 0;
  font-family: "Oswald", sans-serif, "Arial";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-black;
  position: relative;
  padding: 0 20px;
  padding-right: 40px;
  margin-bottom: 36px;
  margin-left: -20px;
  background-color: $base-color-white;
  width: fit-content;


  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: fit-content;
    padding: 0 40px;
    margin-left: 30px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin-left: -40px;
  }
}

.subscription__title::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    right: 0;
    box-shadow: 100vw 0 0 0 #68b738;
  }
}

.subscription__description {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $base-color-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    padding: 0 30px;
  }
}
